/*__________Список переменных__________*/
:root {
  --borderOne: 6px solid #43d854;
}

/*_______________flexbox1______________________*/
.flex-container {
  margin: 40px auto;
  width: 49rem;
  border: var(--borderOne);
  border-radius: 25px;
  background-image: url('../img/octopus.svg');
  opacity: 0.8;
}
